In [6]:
from datascience import *
import numpy as np

import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

# 1. The Data Science Life Cycle  

In Notebooks 1-4, we got a taste of how to use the Jupyter notebook environment and the Python programming language to derive basic insights about some dataset of interest. We also got an introduction to histograms, scatter plots, bar plots, line plots, and the word cloud. More importantly, we identified when and why we can use a specific visualization.  

In the grand scheme of things, however, data visualization and analysis *tend* to be the *final* steps in the **data science lifecycle**. Below, we can see the depiction of the Data Science Life Cycle as envisioned by the course [Data 100](https://ds100.org/sp22/).


![](lifecycle.png)
*Need to add citation*

1. **Question/Problem Formulation:** 
    - What do we want to know or what problems are we trying to solve?
    - What are our hypotheses?
    - What are our metrics of success?


2. **Data Acquisition and Cleaning:**
    - What data do we have and what data do we need?
    - How will we collect more data?
    - How do we organize the data for analysis?


3. **Exploratory Data Analysis:**
    - Do we already have relevant data?
    - What are the biases, anomalies, or other issues with the data?
    - How do we transform the data to enable effective analysis?


4. **Prediction and Inference:**
    - What does the data say about the world?
    - Does it answer our questions or accurately solve the problem?
    - How robust are our conclusions? 
    
*Need to add citation*
    
    
This is the life cycle that you will go through for your final project. You have already started thinking through a possible question/problem formulation when we asked you to think about a topic and concepts. Then, after that, we asked you to find some example datasets regarding that topic. This is the start of the (2) Data acquisition process. At this point in the course, you might be narrowing down on what dataset you'd like to explore.

# 2. Data Cleaning 

Now, imagine you have decided what your dataset will be.

In [9]:
data = Table.read_table("../data/nb5/17010_4_P_970_1.csv")
data.show(2)

In [10]:
dictionary = Table.read_table("../data/nb5/data_dictionary.csv")
dictionary.show(5)

# `NaN` and Missing Values 

Show students how to deal with NaN values. First, show them a histogram of a column with NaN values. 

- Experiment with removing the NaN values and document how the size of our dataset changed
    - Need to figure out how to remove NaN values with `datascience` library
    - Plot histogram of new data without NaN values
- Experiment filling out NaN values with 0 
    - Talk about what implications this will have on our data and future analysis 
    - Plot histogram of new data with NaN = 0

# Relabeling Data  

- Relabel column names based on what the data dictionary says each column represents
- Show students how to relabel columns with the `datascience` library

# Partition Data  

- Partition the `name` column to two columns titled `District Name` and `State` 
- Show them how to add a new column with the `datascience` package

# Removing Unwanted Data 

- Show students how to drop columns with the `datascience` package