# [Global 88] The Data Science Life Cycle
### Professor: Karenjot Bhangoo Randhawa  
**Estimated Time:** 30 minutes  
**Notebook Created By:** Bella Chang, Emily Guo, Vaidehi Bulusu, Carlos Calderon  
**Code Maintenance:** Carlos Calderon 

Welcome! Last week we delved deeper into bar and line plots, and received a small introduction to the word cloud. We then ran a comparative analysis on datasets collected from the Colombia National Police and the Colombian Atlantic Secretariat for Women. This week, we will talk about the Data Science Life Cycle, and will start getting some introduction to common practices in data cleaning. 

**Learning Outcomes:**  
By the end of this notebook, students will be able to:  
1. Develop understanding on `NaN` values and how to deal with them.   
2. Modify dataset features
3. Interpret a data dictionary

# Table of Contents  
1. The Data Science Life Cycle  
2. Data Cleaning

---
---
# Importing Packages   

<div class="alert alert-block alert-warning">
<b>Make sure to run these cells FIRST! Not doing so may result in pesky errors in the code.</b>
</div>

In [ ]:
from datascience import *
import numpy as np
import pandas as pd

import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

---
---

# 1. The Data Science Life Cycle  

In Notebooks 1-4, we got a taste of how to use the Jupyter notebook environment and the Python programming language to derive basic insights about some dataset of interest. We also got an introduction to histograms, scatter plots, bar plots, line plots, and the word cloud. More importantly, we identified when and why we can use a specific visualization.  

In the grand scheme of things, however, data visualization and analysis *tend* to be the *final* steps in the **data science lifecycle**. Below, we can see the depiction of the Data Science Life Cycle as envisioned by the course [Data 100](https://ds100.org/sp22/).


![](lifecycle.png)

1. **Question/Problem Formulation:** 
    - What do we want to know or what problems are we trying to solve?
    - What are our hypotheses?
    - What are our metrics of success?


2. **Data Acquisition and Cleaning:**
    - What data do we have and what data do we need?
    - How will we collect more data?
    - How do we organize the data for analysis?


3. **Exploratory Data Analysis:**
    - Do we already have relevant data?
    - What are the biases, anomalies, or other issues with the data?
    - How do we transform the data to enable effective analysis?


4. **Prediction and Inference:**
    - What does the data say about the world?
    - Does it answer our questions or accurately solve the problem?
    - How robust are our conclusions? 
    
This is the life cycle that you will go through for your final project. You have already started thinking through a possible question/problem formulation when we asked you to think about a topic and concepts. Then, after that, we asked you to find some example datasets regarding that topic. This is the start of the (2) Data acquisition process. At this point in the course, you might already know or are narrowing down what dataset you'd like to explore. 

## 1.2 Loading the Data  

Now, for the purposes of this notebook, imagine you already found and downloaded your dataset. One of the main points of the prior notebooks is to **fully** understand the data you are working with. Let's take a look at the data we will be cleaning today.   

The data for this notebook comes from [diversitydatakids.org](https://www.diversitydatakids.org/about-us), which was established to "to fill an urgent need for a rigorous, equity-focused research program with a clear mission to help improve child wellbeing and increase racial and ethnic equity in opportunities for children." More specifically, we will be looking at a dataset which describes the poverty rate for single mother families with children aged 0-17 years (percent) by race/ethnicity. 

To load in the dataset, we can use the method `Table.read_table("path")`, where `path` is a string containing the location and name of the dataset. Since the data we will be working with is in the same location as the notebook, we can just read in the dataset based on its name, without specifying its location. 

<div class="alert alert-info">
    <b> Question 1.1</b> The data are named <code>poverty_by_district.csv</code>. Use the <code>Table.read_table()</code> method to load the data onto our notebook. Then, use the <code>show()</code> method to print out the first 15 rows in the data. 
</div>

In [ ]:
# ENTER CODE HERE
# Input the data name. 
raw_data = Table.read_table("...")

# Put code below to print out the first 15 rows in the data 
...

<div class="alert alert-info">
    <b> Question 1.2</b> What are some of the issues that you see with the data contained in each row?
</div>

*Replace this text with your answer*

<div class="alert alert-info">
    <b> Question 1.3</b> What are some of the issues that you see with the column names in our data?
</div>

*Replace this text with your answer*

---
---

# 2. Data Cleaning 

What we have above is what is often called the "raw data," that is, data that has not been manipulated in any way once acquired. Often times, though, these data are not the best to work with. As we can see with our `data`, sometimes the column names are not eligible or there is a lot of missing data. Fixing these issues is a process commonly referred to as data cleaning (sometimes called data wrangling). The next few steps in the notebook will walk you through some common practices for dealing with these issues.

## 2.1 Relabeling the Data  

One of the main issues with our data is the lack of eligible column names. There are several ways you can go about renaming columns. You can look at the data and infer what it is describing, and relabel it based on this. Or, if you are lucky, your data may come with a **data dictionary**. The data dictionary is usually another dataset that describes the column names and type of data held by each variable in the main dataset. Our data luckily comes with a data ditionary! 

<div class="alert alert-info">
    <b> Question 2.1</b> Using the filename <code>data_dictionary.csv</code>, use the <code>Table.read_table()</code> and the <code>show()</code> methods to load in and then display the data dictionary. 
</div>

*Note:* Calling `show()` with no arguments inside displays our whole table.

In [ ]:
# ENTER CODE HERE
dictionary = Table.read_table("...")
dictionary.show()

Using this dictionary, we could now start relabing some of the column names. The `tbl.relabeled()` method allows us to relabel column names. It takes in two arguments: the old column label and the new column label. So to relabel a column from a table called `tbl`, your relabeling code will have the form of: `tbl.relabeled(<old_column_name>, <new_column_name>)`. 

<div class="alert alert-info">
    <b> Question 2.2</b> Using the <code>relabeled</code> method, relabel the column <code>geoid</code> column to a more eligible title based off the data dictionary above.  
</div>

In [ ]:
# ENTER CODE HERE
relabeled_data = raw_data.relabeled("...", "...")
relabeled_data

That is how to relabel one column. You can actually pass in a list of old column names and a list of new column names, and the computer will rename all the old column names to the new ones. In python, we create a list with square brackets `[ ]`, inputting all of the elements of the list in between the brackets, each element separated by a comma. So if we wanted to create a list of the instructor names, we would do so as shown below:

In [ ]:
# ENTER CODE HERE
instructor_list = ["Karenjot", "Juliette", "Amber", "Carlos"]
instructor_list

<div class="alert alert-info">
    <b> Question 2.3</b> With this in mind, fill in the list below with the <b>new</b> column names you'd like your data to have. Use the data dictionary above. Please, come up with a new label for every column, or else the code below will not work.    
</div>

In [ ]:
# ENTER CODE HERE
new_column_names = [...] # Fill this list in with the new column names! 

# The line below relabels all the columns based on th list of new names above
relabeled_data = raw_data.relabeled(list(raw_data.labels), new_column_names)
relabeled_data

If things were done right, then you will see that the dataset's columns have now changed to your new labels!

## 2.2 Partioning the Data  

Now, run the cell below which loads in a dataset where we have relabeled all the column names for you.

In [ ]:
relabeled_data = Table.read_table("relabeled_data.csv")
relabeled_data.show(3)

Another step in the data cleaning process may involve partioning data. This sounds fancy, but all it is is separating already existing data into separate variables. Above, we can see how the `Census Geopraphy Name` column contains two values: the name of the school district, and the state that district is in. Let's take this time to create two new columns for our data: `School District` and `State`. Run the cell below, which will take in the `Census Geography Name` column and will create two lists: one for all the school districts and another for all the states.

In [ ]:
# splitting name column using APPLY from datascience library
geography_split = relabeled_data.apply(lambda s: s.split(","), "Census Geography Name")
geography_split

school_districts = [arr[0] for arr in geography_split]
states = [arr[1] for arr in geography_split]

print(f"The first five school districts in our school districts list: {school_districts[:5]}")
print(f"The first five states in our states list : {states[:5]}")

Now that we have extracted the school districts and their respective states, we need to add this data to our dataset. We can do so with the method `tbl.with_columns`. This method takes in any number of arguments of the form `<column name>, <data for that column>`. So, to insert two new columns called `Column A` and `Column B` in a table called `tbl`, your code would look like `tbl.with_columns("Column A", col_a_data, "Column B", col_b_data)` where `col_a_data` and `col_b_data` are lists of the data you want the columns to include. 

<div class="alert alert-info">
    <b> Question 2.4</b> Using the <code>school_districts</code> and the <code>states</code> lists defined above, insert two new columns titled  <code>School District</code> and <code>State</code> to our <code>relabeled_data</code> table.
</div>

In [ ]:
# ENTER CODE HERE
# Use the variables defined above
relabeled_data = relabeled_data.with_columns("...", ..., "...", ...)

relabeled_data.show(2)

Do you see the new columns? If you scroll all the way to the right extreme of our dataset, we will see the new columns there. Obviously, we don't want these columns there. Instead, it would make more sense to have these columns in the same position as the `Census Geography Name` column. We can fix the position of our columns with the `tbl.move_column()` method, which takes in two arguments: 
1. The name of the column we want to move 
2. The positional index that we want the column to move to  

How do we know the positional index? Python is 0 indexed, so the `Census Geographic Identifier` column is located in the 0th index. The `Census Geography Name` is located at the 1st index, and so on. With all of this info then, if we would like to make `Column Z` the first column in `tbl`, our code would look like `tbl.move_column("Column Z", 0)`.

<div class="alert alert-info">
    <b> Question 2.5</b> Using the <code>move_columns()</code> method, shift the columns <code>School District</code> and <code>State</code> to the 2nd and 3rd index in our <code>relabeled_data</code>
</div>

In [ ]:
# ENTER CODE HERE
relabeled_data = relabeled_data.move_column("...", ...)
relabeled_data = relabeled_data.move_column("...", ...)

relabeled_data.show(2)

## 2.3 Dropping Columns  

Above, we can see that our `relabeled_data` now has two columns: `School District` and `State`, both generated from `Census Geography Name`. This creates redundancy in our data. That is, we now have an extra column we don't really need. To drop an unwanted column from our data, we can use the method `tbl.drop`, which takes in as arguments the names of the columns we want to remove in our data. 

<div class="alert alert-info">
    <b> Question 2.6</b> Using the <code>drop()</code> method, drop the column <code>Census Geography Name</code> from our <code>relabeled_data</code>.
</div>

In [ ]:
# ENTER CODE HERE
relabeled_data = relabeled_data.drop("...")

relabeled_data.show(2)

## 2.4 `NaN` and Missing Data  
You may have noticed by now that there is a huge amount of `nan` values in our data. We've created a function below to show you how many of these values show up in each of the dataset's column. Run the cell below to print out this information.

In [ ]:
def report_nullcount(dta):
    n = dta.num_rows
    col_list = list(dta.labels)
    for col in col_list:
        if not type(dta[col][0]) == np.str_:
            num_null = np.sum(np.isnan(dta.column(col)))
            percent_null = num_null / n
            print(f"{col} has {num_null} null (missing) values. In total, there are {percent_null} percentage of missing values in this column.")
        else:
            print(f"{col} has no missing values. ")
        print("-" * 10)

report_nullcount(relabeled_data)

<div class="alert alert-info">
    <b> Question 2.7</b> What columns have the most missing values? Does this mean we failed to collect data or that there was no data to collect? 
</div>

*Replace this text with your answer.*

Indeed, our dataset contains a lot of columns with a lot of missing data. When we have `NaN` or missing data, there are several ways we can deal with them. There is not one main way to deal with them, instead, when you have missing values you should consider various options, some of which include: 
- Dropping all `NaN` values
- Replacing al `NaN` values with 0 
- Replacing all `NaN` values with the mean value for that column

Today, we will be experimenting with the first two options. Before we start dealing with NaN values, it would be useful to generate a histogram for all columns to visualize their distribution before and after dealing with missing values. Run the cell below to do that.

In [ ]:
def plot_hist(x):
    return relabeled_data.hist(x)

col_widget = widgets.Dropdown(options=relabeled_data.labels[4:], 
                              description="Column")

interact(plot_hist, x=col_widget);

<div class="alert alert-info">
    <b> Question 2.8</b> How do the distributions for each column look? What patterns do you notice?
</div>

*Replace this text with your answer*

### Removing `NaN` values
How does our data change based on the way we deal with missing values? Run the cell below, which will remove all the row entries with missing data.

In [ ]:
def remove_nan(tbl):
    tbl_new = Table(tbl.labels)
    for x in np.arange(tbl.num_rows):
        list_row = list(tbl.row(x))
        if np.count_nonzero(pd.isna(list_row)) == 0:
            tbl_new = tbl_new.with_rows([list_row])
    return tbl_new

no_nan_data = remove_nan(relabeled_data)
no_nan_data.show(2)

Here, we can see that we now have data for every single column and row. Let's see how the distributions in our data changed.

In [ ]:
def plot_hist_nonnull(x):
    return no_nan_data.hist(x)

col_widget = widgets.Dropdown(options=no_nan_data.labels[4:], 
                              description="Column")

interact(plot_hist_nonnull, x=col_widget);

<div class="alert alert-info">
    <b> Question 2.9</b> How have the distributions changed? Do you think this is an improvement?
</div>

*Replace this text with your answer*

<div class="alert alert-info">
    <b> Question 2.10</b> Use the <code>num_rows</code> method to find the difference in the number of rows between the <code>relabeled_data</code> and the <code>no_nan_data</code>. 
</div>

In [ ]:
# Write code to find the number of rows for each respective dataset
relabeled_data_num_rows = ...
no_nan_data_num_rows = ...

# Write code to compute the difference in number of rows 
...

<div class="alert alert-info">
    <b> Question 2.11</b> How did the size of our dataset change when we removed <code>nan</code> values?
</div>

*Replace this text with your answer*

### Replacing `NaN` values 
What if instead of removing the data, we replaced it with a 0? Let's see how that changes our data.

In [ ]:
# Just run this cell to replace all nan values with 0 
relabeled_zeroed_data = relabeled_data
for column in relabeled_data.labels[3:]:
    new_arr = relabeled_zeroed_data.apply(lambda x: 0 if np.isnan(x) else x, column)
    relabeled_zeroed_data = relabeled_zeroed_data.with_column(column, new_arr)
    
relabeled_zeroed_data.show(3)

Now that we've set every `nan` value to 0, let us visualize the change in distributions. Run the cell below:

In [ ]:
def plot_hist_zeroed(x):
    return relabeled_zeroed_data.hist(x)

col_widget = widgets.Dropdown(options=relabeled_zeroed_data.labels[4:], 
                              description="Column")

interact(plot_hist_zeroed, x=col_widget);

<div class="alert alert-info">
    <b> Question 2.12</b> How have the distributions changed? Do you think this is an improvement?
</div>

*Replace this text with your answer*

<div class="alert alert-info">
    <b> Question 2.13</b> Use the <code>num_rows</code> method to find the difference in the number of rows between the <code>relabeled_data</code> and the <code>relabeled_zeroed_data</code>. 
</div>

In [ ]:
# Write code to find the number of rows for each respective dataset
relabeled_data_num_rows = ...
zeroed_out_data_num_rows = ...

# Write code to compute the difference in number of rows 
...

<div class="alert alert-info">
    <b> Question 2.14</b> How did the size of our dataset change when we set <code>nan</code> values to 0?
</div>

*Replace this text with your answer*

<div class="alert alert-info">
    <b> Question 2.15</b> What bias did we introduce to the data by setting all <code>nan</code> values to 0?
</div>

*Replace this text with your answer*

Overall, the takeway here is that neither removing or replacing `NaN` values with 0 improved our data quality. Indeed, in this particular case, leaving the `nan` values untouched proved to be the best option. Like mentioned, that is not always the case. In the future, we wil be looking at datasets that will require us to employ different methods.

# Conclusion  
Congratulations! You've reached the end of the assignment. Run the cell below to generate a pdf.

In [ ]:
# This may take a few seconds 
from IPython.display import display, HTML
!jupyter-nbconvert --to PDFviaHTML notebook5.ipynb
display(HTML("Save this notebook, then click <a href='notebook5.pdf' download>here</a> to open the pdf."))